
<h1>Sign into SphereSorter! </h1>

<p id="notice"> <%= notice %> </p>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <label> Email: </label>
    <input name="email" type="text" id="email"> <br>
    <label> Password: </label>
  
    <input name="password" type='text' id='password'> <br>

   
    
    <input type="submit" value='sign in'>


  <% end %>

  <h2> OR </h2>
  

 <h2> <%= link_to "Create A New Account", new_user_path %> </h2>

