<h1> <%= "#{@sphere.title} Sphere" %> </h1>

<p> This is the show page for this Sphere </p>
<h4> <%= link_to "Go back to your homepage", user_path(@user) %> </h4>

<h2> Goals: </h2>
<ul>
    <% @sphere.goals.each do |goal| %>
        <li> <%=  goal.name %> </li>
    <% end %>

</ul>
<h3> <%= link_to "Create a new goal for this Sphere!", new_goal_path %> </h3>
