<h1> Create a new Goal </h1>

<%= form_for @goal do |f| %>
    <label> Title: </label>
    <%= f.text_field :title %><br>

    <lable> Description: </label>
    <%= f.text_field :description %><br>

    <%= f.submit  %>

<% end %>
